body {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: cornflowerblue;
  color: black;
  border-bottom: 10px solid rgb(233, 155, 255);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed cornflowerblue;
}

.past {
  background-color: #6f1fb6;
  color: white;
}

.present {
  background-color: #8a5ddfef;
  color: white;
}

.future {
  background-color: #bc94fce9;
  color: white;
}

.saveBtn {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #eb5ff8;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
